<!DOCTYPE html>
<html lang="en">
    <head>
        <title>[Title]</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/style.css"/> <!-- put StyleSheet Here -->
        
    </head>
    <body>
        
        <!--          NavBar              -->
        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">TtocsNeb</a>
                </div>
                <div class="collapse navbar-collapse" id="mynav">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                </div>
                
            </div>
        </nav>
        
        <!--         Canvas                -->
        
        <div class="container">
            <div id="spacer"></div>
            <div class="row">
                <div class="col-sm-8">
                    <!--            Main Content               -->
                    <!--[MainContent]-->
                    
                    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ttocsneb-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
                </div>
                <!--              SideBar           -->
                <div class="col-sm-4" id="sidebar">
                    <!--                    Featured Carousel                    -->
                    <div class="row">
                        <h4>Featured</h4>
                        
                        <!--          Featured Carousel              -->
                        
                        <div id="carousel-featured" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
								<!--		Carousel buttons		-->
								<!--[carouselbuttons]-->
                            </ol>
                            <div class="carousel-inner">
								<!--		Carousel content		-->
                                <!--[Carousel]-->
                            </div>
                            <a class="left carousel-control" href="#carousel-featured" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-featured" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            
                            <div class="row" id="spacer-50px"></div>
                        </div>
                    </div>
                    <!--              Twitter Feed              -->
                    <div class="row">
                        <a class="twitter-timeline" href="https://twitter.com/TtocsNeb" data-widget-id="683131836873093120">Tweets by @TtocsNeb</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
